<launch>
	<arg name="model" default="$(find tracker_bot)/urdf/trackerbot.urdf"/>
	<arg name="gui" default="true" />
	<arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

	<param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find tracker_bot)/rviz/config_file.rviz" />

</launch>
