<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- mavteleop example launch script -->

	<!-- <include file="$(find mavros)/launch/px4.launch" /> -->

	<node pkg="joy" type="joy_node" name="joy" required="True">
		<param name="autorepeat_rate" value="30" /> <!-- Minimal update rate, Hz -->
	</node>

</launch>
