<launch>
    <!-- Launch 3 nodes as below
    At development stage, each node should be launched in a separated terminal to view the output -->

	<arg name="mapping" default="true" />
	<arg name="gamepad" default="true" />
	<arg name="ps4" default="false" />
    <arg name="fcu_url" default="/dev/ttyACM0:57600" />
	<arg name="gcs_url" default="udp://@10.0.0.7" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v2.0" />
	<arg name="respawn_mavros" default="true" />
	<arg name="teleop_args" default="-rc" />
	<arg name="addr" default="" />
  	<arg name="use_standard_msgs" default="true" />
  	<arg name="autorepeat_rate" default="20" if="$(arg use_standard_msgs)" />	

    <!-- This node will launch the ROS driver for Realsense T265 -->
    <include file="$(find realsense2_camera)/launch/rs_d400_and_t265.launch" arg name="device_type_camera2" value="d435" if="$(arg mapping)" />
	<include file="$(find rtabmap_ros)/launch/rtabmap.launch" if="$(arg mapping)"> 
		<arg name="args" value="-d --Mem/UseOdomGravity true --Optimizer/GravitySigma 0.3" />
		<arg name="odom_topic" value="/t265/odom/sample" />
		<arg name="frame_id" value="t265_link" />
		<arg name="rgbd_sync" value="true" />
		<arg name="depth_topic" value="/d400/aligned_depth_to_color/image_raw" />
		<arg name="rgb_topic" value="/d400/color/image_raw" />
		<arg name="camera_info_topic" value="/d400/color/camera_info" />
		<arg name="approx_rgbd_sync" value="false" />
		<arg name="visual_odometry" value="false" />
	</include>

	<include file="$(find realsense2_camera)/launch/rs_t265.launch" unless="$(arg mapping)" />

    <!-- This node will launch MAVROS -->
    <include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
		<arg name="fcu_protocol" value="$(arg fcu_protocol)" />
		<arg name="respawn_mavros" default="$(arg respawn_mavros)" />
	</include>

    <!-- This node will launch the node that bridges realsense-ros and MAVROS -->
    <include file="$(find vision_to_mavros)/launch/t265_tf_to_mavros.launch"/>

	<group if="$(arg gamepad)">
		<node pkg="ds4_driver" type="ds4_driver_node.py" name="ds4_driver" output="screen" if="$(arg ps4)">
			<rosparam command="load" file="$(find ds4_driver)/config/params.yaml" />

			<param name="device_addr" value="$(arg addr)" />
			<param name="use_standard_msgs" value="$(arg use_standard_msgs)" />
			<param name="autorepeat_rate" value="$(arg autorepeat_rate)" if="$(arg use_standard_msgs)" />
		</node>
		
		<node pkg="joy" type="joy_node" name="joy" required="True" unless="$(arg ps4)">
			<param name="autorepeat_rate" value="30" /> <!-- Minimal update rate, Hz -->
			<param name="dev" value="/dev/input/js0" />
		</node>

		<node pkg="mavros_extras" type="mavteleop" name="mavteleop" args="$(arg teleop_args)" required="True" output="screen">
			<rosparam command="load" file="$(find mavros_extras)/launch/f710_joy.yaml" />
		</node>
	</group>

	

</launch>
